body { font-family: 'Source Code Pro'; }

#meters {
    width: 300px;
    float: left;
}

#compassGroup {
    position: absolute;
    left: 150px;
    top: 20px;
}

#compass {
    width: 350px;
    height: 350px;
    z-index: 0;
    top: 0px;
    left: 0px;
    position: absolute;
}

.needle {
    width: 350px;
    height: 350px;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
}


#chart {
    left: 600px;
    width: 600px;
    height: 350px;
    position: absolute; 
}

.speed {

    margin: 2px;
    padding: 1px;
    height: 10px;
}

.highPassive {
    background-color: #ff0000;
    background-color: rgba(255, 0, 0, 0.3);
}

.highActive {
    background-color: #ff0000;
    background-color: rgba(255, 0, 0, 1);
}

.lowPassive {
    background-color: #00ff00;
    background-color: rgba(0, 255, 0, 0.3);
}

.lowActive {
    background-color: #00ff00;
    background-color: rgba(0, 255, 0, 1);
}

.legendColor0 {
    background-color: red;
}
.legendColor1 {
    background-color: green;
}
.legendColor2 {
    background-color: blue;
}
.legendColor3 {
    background-color: blueviolet;
}