Build/
**/bin/
**/obj/
*.user
*.orig
*.psess
.vs/
*.vspx
*.vsp
iot/website/packages/M2Mqtt.4.3.0.0/M2Mqtt.4.3.0.0.nupkg
iot/website/packages/M2Mqtt.4.3.0.0/lib/net39-cf/DeployFileList.txt
iot/website/packages/M2Mqtt.4.3.0.0/lib/netmf42/be/M2Mqtt.NetMf.pdbx
iot/website/packages/M2Mqtt.4.3.0.0/lib/netmf42/be/M2Mqtt.NetMf.pe
iot/website/packages/M2Mqtt.4.3.0.0/lib/netmf42/le/M2Mqtt.NetMf.pdbx
iot/website/packages/M2Mqtt.4.3.0.0/lib/netmf42/le/M2Mqtt.NetMf.pe
iot/website/packages/M2Mqtt.4.3.0.0/lib/netmf43/be/M2Mqtt.NetMf.pdbx
iot/website/packages/M2Mqtt.4.3.0.0/lib/netmf43/be/M2Mqtt.NetMf.pe
iot/website/packages/M2Mqtt.4.3.0.0/lib/netmf43/le/M2Mqtt.NetMf.pdbx
iot/website/packages/M2Mqtt.4.3.0.0/lib/netmf43/le/M2Mqtt.NetMf.pe
iot/website/packages/M2Mqtt.4.3.0.0/lib/win81/M2Mqtt.WinRT.pri
iot/website/packages/M2Mqtt.4.3.0.0/lib/wpa81/M2Mqtt.WinRT.pri
iot/website/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0.nupkg
iot/website/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.install.xdt
iot/website/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.uninstall.xdt
iot/website/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
iot/website/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/init.ps1
iot/website/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/uninstall.ps1
iot/website/packages/Microsoft.Net.Compilers.1.0.0/Microsoft.Net.Compilers.1.0.0.nupkg
iot/website/packages/Microsoft.Net.Compilers.1.0.0/ThirdPartyNotices.rtf
iot/website/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CSharp.Core.targets
iot/website/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.VisualBasic.Core.targets
iot/website/packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe.config
iot/website/packages,iot/website/WindMeter/Properties/PublishProfiles
iot/website/packages/
iot/website/WindMeter/Properties/PublishProfiles/
